<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pytube-web</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

        <style>
            .my-card {
                position: fixed;
                bottom: 130px;
                right: 80px;
                left: 80px;
                width: calc(100% - 160px);
            }
            .my-buttons {
                position: fixed;
                bottom: 24px;
                right: 80px;
                left: 80px;
                width: calc(100% - 160px);
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">pytube-webapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="card mt-5 my-card">
                <div class="card-body">
                    Please enter your video URL:
                </div>
            </div>
            <form class="btn-toolbar my-buttons" action="" method="post" aria-label="Toolbar with button groups">
                <input class="form-control mb-3" name="video_url" type="text" placeholder="Input URL here" aria-label="default input example">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="video" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary" for="btnradio1">Video (MP4)</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="audio" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio2">Audio (WEBM)</label>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="submit" class="btn btn-primary">Download</button>
                </div>
            </form>
        </div>
    </body>
</html>
